.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/1629998/pexels-photo-1629998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.calbody{
    height: 80vh;
    width: 30%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    padding: 1%;
}

.input{
    /* background-color: rgb(95, 166, 228); */
    height: 13%;
    display: flex;
}
.input>input{
    height: 100%;
    width: 100%;
}

.buttons{
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(0, 225, 255); */
    
}
.actions{
    background-color: rgb(66, 65, 65);
    color: wheat;
    

}

.buttons button{
    width: 20%;
    height: 15%;
    margin: 1%;
    font-size: 1.7rem;
    /* background-color: rgb(245, 234, 234); */
    
}

.nums{
    background-color: darkgray;
}

.buttons button:hover{
    box-shadow: rgba(33, 11, 235, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}